/backend/TwitchLogger/node_modules
/backend/TwitchDataApi/node_modules

/backend/TwitchLogger/twitchSettings.json
/backend/TwitchLogger/mongodbSettings.json
/backend/TwitchDataApi/mongodbSettings.json