/backend/TwitchLogger/node_modules
/backend/TwitchDataApi/node_modules
/backend/TwitchStreamFinder/node_modules

/backend/TwitchLogger/sqlSettings.json
/backend/TwitchDataApi/sqlSettings.json
/backend/TwitchStreamFinder/sqlSettings.json

/backend/TwitchLogger/twitchSettings.json
/backend/TwitchStreamFinder/twitchApiSettings.json


/backend/TwitchTokenGrabber